{% extends "layout.html" %}
{% block title %}
    문의
{% endblock %}
{% block menu_contact %}
    <li class="active"><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 문의</a> </li>
{% endblock %}
{% block body %}
    <form action="http://formspree.io/mu29gl@gmail.com" class="form-horizontal" method="POST">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
            <input type="text" id="email" name="_replyto" class="form-control" placeholder="회신받을 메일 주소를 입력하세요" aria-describedby="basic-addon1">
        </div>
        <br>
        <textarea class="form-control" rows="10" id="message" name="message"></textarea>
        <br>
        <input type="submit" class="btn btn-primary" value="보내기">
    </form>
{% endblock %}