<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- 설정 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 타이틀 -->
    <title>{% block title %}{% endblock %} / UNISTUDY</title>
    <!-- 스타일시트 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/unistudy.css" rel="stylesheet">
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <!-- 네비게이션 바 -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- 타이틀 -->
                <a class="navbar-brand" href="{{ url_for('index') }}">UNISTUDY</a>
            </div>
            <!-- 메뉴 목록 -->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block menu_home %}
                        <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 홈</a> </li>
                    {% endblock %}
                    {% block menu_intro %}
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 소개</a> </li>
                    {% endblock %}
                    {% block menu_contact %}
                        <li><a href="{{ url_for('contact') }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 문의</a> </li>
                    {% endblock %}
                    {% block menu_lecture %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 강의 목록<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">프로그래밍</li>
                                <li><a href="{{ url_for('lecture', subject = 'ep1') }}">Engineering Programming I</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'ep2') }}">Engineering Programming II</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'bp') }}">Business Programming</a> </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">수학</li>
                                <li><a href="{{ url_for('lecture', subject = 'c1') }}">Calculus I</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'c2') }}">Calculus II</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'ala') }}">Applied Linear Algebra</a> </li>
                                <li><a href="#">Differential Equation</a> </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">과학</li>
                                <li><a href="{{ url_for('lecture', subject = 'gb') }}">General Biology</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'gp1') }}">General Physics I</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'gp2') }}">General Physics II</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'gc1') }}">General Chemistry I</a> </li>
                                <li><a href="{{ url_for('lecture', subject = 'gc2') }}">General Chemistry II</a> </li>
                            </ul>
                        </li>
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session.email %}
                        <li><a href="{{ url_for('register') }}">회원가입</a> </li>
                        <li><a href="{{ url_for('login') }}">로그인</a> </li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">로그아웃</a> </li>
                    {% endif %}
                    <li><a href="">도움말</a> </li>
                </ul>
            </div>
        </nav>

        <!-- 컨텐츠 부분 -->
        <div class="contents">
           {% block body %}{% endblock %}
        </div>

        <!-- 푸터 -->
        <footer class="footer">
            <div class="container">
                <p class="text-center">
                    <span class="text-muted">
                        <br>Developed by UNIST '14 정인중<br>
                        <a href="http://yeoubi.net">http://yeoubi.net</a> | <a href="mailto:#">mu29gl@gmail.com</a><br>
                    </span>
                </p>
            </div>
        </footer>
    </div>

    <!-- 스크립트 로드 -->
    <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>